.banner {
    background-color: black;
    border-radius: 20px;
    height: 500px;
    width: 1100px;
    margin: 50px 10px 20px 100px;
    display: flex;
}
.box1 {
    color: white;
    height: 420px;
    width: 450px;
    margin-left: 60px;
    margin-top: 30px;
}
.box1 h1 {
    font-size: 60px;
    margin-bottom: -5px;
}
.box1 p {
    color: skyblue;
}
.button1 {
    height: 50px;
    width: 160px;
    background-color: red;
    color:white;
    border-radius: 10px;
    margin-top: 5px;
    transition: all 0.5s;
    cursor: pointer;
}
.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button1:hover span {
    padding-right: 25px;
}
.button1:hover span:after {
    opacity: 1;
    right: 0;
}
.box2 {
    height: 420px;
    width: 450px;
    margin-left: 60px;
    margin-top: 30px;
}
.content {
    display: flex;
    margin-top: 100px; 
    border: 2px solid white;
}
.menu-section {
    background-color: black;
    height: 250px;
    width: 260px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 100px;
 }
.button2 {
    height: 60px;
    width: 230px;
    background-color: white;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 15px;
}
.button2:hover {
    background-color: skyblue;
}
.button2:active {
    background-color: red;
}
.container {
    height: 1070px;
    width: 815px;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 5px 5px 5px;
    justify-content: space-around;
    justify-items: center;
}
.box {
    height: 320px;
    width: 250px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    display: grid;
}
.button3 {
    height: 40px;
    width: 90px;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: -20px;
    color:black;
    border-radius: 10px;
}
.container h4 { 
    margin-left: 10px;
}
.container i {
    display: inline;
    margin-left: 20px;
}
.footer {
    background-color: black;
    height: 300px;
    width: 1340px;
    margin-top: 120px;
    padding-top: 150px;
    color: white;
    text-align: center;
}
.footer hr {
    margin-left: 190px;
    margin-right: 190px;
    background-color: gray;
    color: gray;
    margin-bottom: 40px;
}
.footer nav {
    display: inline;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.footer a {
    text-decoration: none;
    color: gray;
}
.social {
    margin-top: 50px; 
}
.social i {
    height: 50px;
    width: 50px;
}
.container2 {
    height: 470px;
    width: 815px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 5px 5px 5px;
    justify-content: space-around;
    justify-items: center;
}
.box3 {
    height: 180px;
    width: 250px;
    border: 2px solid whitesmoke;
    padding-top: 39px;
    border-radius: 20px;
    text-align: center;
    display: inline;
}
.button5 {
    height: 70px;
    width: 170px;
    background-color: red;
    color:white;
    margin-left: 300px;
    border-radius: 10px;
    margin-top: 5px;
    visibility: hidden;
}

@media only screen and (max-width:688px){
   
    .banner {
        width: 100%;
        display: grid;
        text-align: center;
        margin: auto;
        padding: 0;
        height: 600px;
        overflow: hidden;
    }
    .box1 {
        color: white;
        height: 250px;
        width: 100%;
        margin-left: 0px;
        
        margin-top: 50px;
        overflow: hidden;
    }
    .box1 h1 {
        font-size: 30px;
        text-align: center;
    }
    .box1 p {
        font-size: 15px;
    }
    .box2 {
        height: 920px;
        width: 250px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .box2 img {
        height: 300px;
        width: 270px;
        margin-left: 60px;
    }
    .content {
        display: flex;
        margin-top: 50px; 
        border: 2px solid white;
        
    }
    .menu-section {
        background-color: white;
        border: 2px solid white;
       
        margin-left: 50px;
        
     }
    .container {
        height: 2900px;
        width: 100%;
        margin-top: 320px;
        margin-left: -290px;
        display: grid;
        grid-template-columns: 5px;
    }
    .box {
        height:320px;
        width: 260px;
        display: grid;
        margin-top: 10px;
       
    }
     
    .container2 {
        height: 1270px;
        width: 815px;
        margin-top: 270px;
        margin-left: -300px;
        display: grid;
        grid-template-columns: 5px;
        border: 1px solid silver;
    }
    .box3 {
        padding-top: 9px;

    }
    

    .footer {
        
        height: 500px;
        width: 100%;
        margin-top: 120px;
        padding-top: 30px;
        color: white;
        text-align: center;
        
    }
    .footer hr {
        margin-left: 15px;
        margin-right: 15px;
        background-color: gray;
        color: gray;
        margin-bottom: 20px;
    }
    .footer nav {
        display: inline;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        display: flex;

    }
    .footer a {
        text-decoration: none;
        color: gray;
    }
    .social {
        margin-top: 40px; 
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        
    }
    .social i {
        height: 50px;
        width: 100%;
        
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .banner {
        width: 95%;
        
        text-align: center;
        margin-left: 20px;
        padding: 0;
        height: 330px;
        overflow: hidden;
    }
    .box1 {
      
        height: 250px;
        width: 100%;
        margin-left: 0px;
        
        margin-top: 50px;
        overflow: hidden;
    }
    .box1 h1 {
        font-size: 30px;
        text-align: center;
        padding-left: 30px;
    }
    .box1 p {
        font-size: 15px;
        padding-left: 40px;
    }


    .box2 img {
        height: 300px;
        width: 270px;
        margin-left: 60px;
    }
    .content {
        display: flex;
        flex-direction: row;
        margin-top: 50px; 
        border: 2px solid white;
    }
    .menu-section {
        display: flex;
        flex-direction: row;
        background-color: white;
        border: 2px solid white;
        margin-left: 0px;
    }
    .container {
        height: 1800px;
        width: 100%;
        margin-top: 120px;
        margin-left: -250px;
        display: grid;
        grid-template-columns: 5px 5px;
    }
    .box {
        height:320px;
        width: 260px;
        display: grid;
        margin-top: 10px;
       
    }
     
    .container2 {
        height: 870px;
        width: 815px;
        margin-top: 170px;
        margin-left: -270px;
        display: grid;
        grid-template-columns: 5px 5px;
        border: 1px solid silver;
    }
    .box3 {
        padding-top: 9px;

    }
    

    .footer {
        
        height: 500px;
        width: 100%;
        margin-top: 90px;
        padding-top: 30px;
        color: white;
        text-align: center;
        
    }
    .footer hr {
        margin-left: 15px;
        margin-right: 15px;
        background-color: gray;
        color: gray;
        margin-bottom: 20px;
    }
    .footer nav {
        display: inline;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        

    }
    .footer a {
        text-decoration: none;
        color: gray;
    }
    .social {
        margin-top: 40px; 
        padding-left: 20px;
        display: flex;
        flex-direction: row;
        
    }
    .social i {
        height: 50px;
        width: 100%;
        
    }
    .button5 {
        height: 70px;
        width: 170px;
        background-color: red;
        color:white;
        margin-left: 300px;
        border-radius: 10px;
        margin-top: 5px;
        visibility: visible;
        
        
    }
}